body {
    background-color: #fdfae5;
}

.title {
    text-align: center;
    margin: 3rem 0;
    align-items: center;
}

.note-empty {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 1rem;
    border: #ffc107 1px solid;
    border-radius: 5px;
}

/* rewrite */
.container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-text {
    height: 115px;
    overflow-y: auto;
}
.card .delete {
    color: #ffc107; 
    padding: 5px;
    cursor: pointer;
}
.card-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.search .btn {
    background-color: #ffffff;
}

.input-group-text {
    background-color: #ffc107;
}

@media (min-width: 1200px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
}